<h1>Hakim App</h1>
<carousel>
  <ng-container *ngFor="let slide of sliderData">
    <slide>
      <img [src]="slide.imageUrl" alt=" first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="role">{{slide.role}}</h3>
        <p class="email">{{slide.email}}</p>
      </div>
    </slide>
  </ng-container>
  <!-- <slide>
    <img src="assets/02.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/03.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/04.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide> -->
</carousel>